<h1>Add a new word you want to learn<h1>

<form action="/words" method="post">
  <div class="form-group">
    <label for="word">New Word:</label>
    <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-success">Add Word!</button>
</form>